<div class="fields">
  <section class="fields__header">
      <h1 class="fields__header__title">{{template.title}}</h1>
    <section class="fields__header__select">
      <mat-form-field appearance="outline" class="fields__header__select__field" *ngIf="!filterActivated">
        <mat-label>{{template.selectedCityLabel}}</mat-label>
        <mat-select [(ngModel)]="selectedCity" (valueChange)="handleEvent(selectCityEvent, $event)">
          <mat-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="filterActivated" class="fields__header__select__field">
        <mat-label>{{template.addressLabel}}</mat-label>
        <input disabled matInput [(ngModel)]="userFilterInput.address">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="handleEvent(clearEvent)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fields__header__select__field fields__header__select__field-disabled" *ngIf="selectedFieldType">
        <mat-label>{{template.selectedFieldType.label}}</mat-label>
        <input disabled matInput [(ngModel)]="selectedFieldType">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="handleEvent(selectedFieldTypeEvent, $event)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fields__header__select__field" *ngIf="!selectedFieldType">
        <mat-label>{{template.selectedFieldType.label}}</mat-label>
        <mat-select [(value)]="selectedFieldType" (selectionChange)="handleEvent(selectedFieldTypeEvent, $event)">
          <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.name" >
            {{fieldType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </section>
  <app-no-result *ngIf="noResult && !isLoading" (noResultEvent)="handleEvent(noResultEvent)"></app-no-result>
  <app-spinner [isLoading]="isLoading"></app-spinner>
  <div class="fields__container">
    <div *ngFor="let field of fields" class="fields__card">
      <app-card [field]="field" *ngIf="!isLoading"></app-card>
    </div>
  </div>
  <app-pagination [paginator]="paginator" (paginatorEvent)="handleEvent(paginatorEvent, $event)"></app-pagination>
</div>
