@use 'src/vars';

.fields{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90vh;
  &__header {
  margin: 1rem 1rem 0;
    &__title {
      display: flex;
      @media(max-width: vars.$breakpoint-sm) {
        justify-content: center;
      }
    }
    &__filter {
      display: flex;
      justify-content: space-between;
    }
    &__select {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      @media(max-width: vars.$breakpoint-md) {
        justify-content: space-between;
      }
      @media(max-width: vars.$breakpoint-sm) {
        justify-content: center;
      }
      &__field {
        margin-left: 1rem;
        margin-top: 1rem;
        width: 15rem;
        @media(max-width: vars.$breakpoint-md) {
          margin-left: 0;
        }
        @media (max-width: vars.$breakpoint-sm) {
          width: 100%;
        }
      }
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__card {
    width: 30rem;
  }
}
