<div class="field">
  <app-spinner [isLoading]="isLoading"></app-spinner>
  <div *ngIf="!isLoading">
    <h1 class="field__title">{{field.fields.insnom}}<span class="field__subtitle"> - {{field.fields.equnom}}</span></h1>
    <span *ngIf="date">Créé le {{date}}</span>
    <mat-list>
      <mat-list-item> Adresse : {{fieldLocation.label}} </mat-list-item>
      <mat-list-item> Emplacement : {{field.fields.naturelibelle}} </mat-list-item>
      <mat-list-item> Revêtement : {{field.fields.naturesollib}} </mat-list-item>
      <mat-list-item> Accès handicapé : {{field.fields.equacceshandimaire}} </mat-list-item>
    </mat-list>
    <h2 class="field__title">Accès</h2>
    <app-google-map [field]="field.fields" [fieldLocation]="fieldLocation"></app-google-map>
  </div>
</div>
