<div>
  <app-spinner [isLoading]="isLoading"></app-spinner>
  <div *ngIf="!isLoading">
    <h1>{{field.fields.equnom}}</h1>
    <app-google-map [field]="field.fields"></app-google-map>
    <button mat-stroked-button color="primary" (click)="handleClick(field.fields.comlib, field.fields.equipementtypecode)">
      Voir d'autres lieux similaire
    </button>
    <div class="container">
      <div *ngFor="let similarField of similarFields" class="maps">
        <app-google-map
          [field]="similarField"
          [zoomControl]='zoomControl'
          [disableDoubleClickZoom]='disableDoubleClickZoom'
          [scrollwheel]='scrollwheel'
          [disableDefaultUI]='disableDefaultUI'
          [keyboardShortcuts]='keyboardShortcuts'
          [streetViewControl]='streetViewControl'
          [showDefaultInfoWindow]='showDefaultInfoWindow'
          [mapDraggable]='mapDraggable'
          [clickableIcons]='clickableIcons'
          [mapTypeControl]='mapTypeControl'
          [draggableCursor]="draggableCursor"
        >
        </app-google-map>
      </div>
    </div>
  </div>
</div>
