@use 'src/vars';

.card {
  margin: 1rem;
  padding: 1rem 1rem 1.6rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__header {
    position: relative;
    margin-left: 0;
    &__title {
      width: 90%;
      line-height: 1.5rem;
    }
  }

  &__actions {
    width: 100%;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: baseline;
    justify-content: space-between;
    @media (max-width: vars.$breakpoint-sm) {
      flex-direction: column-reverse;
    }
    &__text {
      display: flex;
      align-items: flex-end;
      &__icon {
        color: vars.$primary-color;
        margin-left: 0.5rem;
        &--red {
          color: vars.$error-color
        }
      }
    }
    &__button {
      width: 40%;
      @media (max-width: vars.$breakpoint-sm) {
        width: 100%;
      }
    }
  }
}
