<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Sport fields</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="navbar-collapse" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/basketball-fields">Terrains de basket</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/soccer-fields">Terrains de foot</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/athletics-tracks">Pistes d'athlétisme</a>
      </li>
    </ul>
    <div class="nav navbar-nav">
    </div>
  </div>
</nav>

