@use 'src/vars';

.navbar {
  &__image {
    width: 4rem;
  }
}

.navbar-nav {
  margin-inline-start: auto
}

.navbar-collapse {
  @media(max-width: vars.$breakpoint-lg) {
    margin-top: 1rem;
  }
}

