.filter {
  display: flex;
  flex-direction: column;
  &__title {
    margin-top: 1rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &__input, &__button{
      margin-top: 1rem;
    }
  }
  &__select {
    margin-top: 1rem;
  }
}

