@use 'src/vars';

.no-result {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__button {
    width: 12rem;
    margin-top: 1rem;
    align-self: center;
    @media (max-width: vars.$breakpoint-sm) {
      width: 80%;
    }
    @media (max-width: vars.$breakpoint-xs) {
      width: 100%;
    }
  }
}
