<app-fields
  [userFilterInput]="homeModel.userFilterInput"
  [filterActivated]="homeModel.filterActivated"
  [paginator]="homeModel.paginator"
  [isLoading]="isLoading"
  [noResult]="noResult"
  [selectedCity]="homeModel.selectedCity"
  [fields]="homeModel.fields"
  [selectedFieldType]="homeModel.selectedFieldType"
  (paginatorEvent)="handleChangePage($event)"
  (selectCityEvent)="handleChangeCity($event)"
  (selectedFieldTypeEvent)="handleCheckFieldType($event)"
  (clearEvent)="handleClearState()"
  (noResultEvent)="handleClearState()"
></app-fields>
