<agm-map
  [latitude]='latitude'
  [longitude]='longitude'
  [mapTypeId]='mapTypeId'
  [zoom]='zoom'
  [minZoom]='minZoom'
  [zoomControl]='zoomControl'
  [disableDoubleClickZoom]='disableDoubleClickZoom'
  [scrollwheel]='scrollwheel'
  [disableDefaultUI]='disableDefaultUI'
  [keyboardShortcuts]='keyboardShortcuts'
  [streetViewControl]='streetViewControl'
  [showDefaultInfoWindow]='showDefaultInfoWindow'
  [mapDraggable]='mapDraggable'
  [clickableIcons]='clickableIcons'
  [mapTypeControl]='mapTypeControl'
  [draggableCursor]="draggableCursor"
  class="map"
>
  <agm-marker
    [latitude]='latitude'
    [longitude]='longitude'
    [title]='title'
    [openInfoWindow]='openInfoWindow'
  >
    <agm-info-window [isOpen]="isOpen">
      <strong>{{field.equnom}}</strong>
      <button mat-raised-button color="primary" type="button" class="map__button" (click)="openDialog()">Voir l'itinéraire</button>
    </agm-info-window>
  </agm-marker>
</agm-map>
