<agm-map
  [latitude]='latitude'
  [longitude]='longitude'
  [mapTypeId]='mapTypeId'
  [zoom]='zoom'
  [minZoom]='minZoom'
  [zoomControl]='zoomControl'
  [disableDoubleClickZoom]='disableDoubleClickZoom'
  [scrollwheel]='scrollwheel'
  [disableDefaultUI]='disableDefaultUI'
  [keyboardShortcuts]='keyboardShortcuts'
  [streetViewControl]='streetViewControl'
  [showDefaultInfoWindow]='showDefaultInfoWindow'
  [mapDraggable]='mapDraggable'
  [clickableIcons]='clickableIcons'
  [mapTypeControl]='mapTypeControl'
  [draggableCursor]="draggableCursor"
  class="map"
>
  <agm-marker
    [latitude]='latitude'
    [longitude]='longitude'
  >
    <agm-snazzy-info-window [isOpen]="isOpen" padding="1rem" borderRadius=".5rem">
      <ng-template>
        <span>{{field.equnom}}</span>
        <button mat-raised-button color="primary" type="button" class="map__button" (click)="openDialog()">Voir l'itinéraire</button>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
